@tailwind base;
@tailwind components;
@tailwind utilities;

import body {
    font-weight: 400;
}

[type='text']:focus,
input:where(:not([type])):focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[type='file']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    border-color: #181717;
    --tw-ring-color: #181717;
}

textarea::placeholder,
input::placeholder {
    color: #ccc;
    font-weight: 400;
}

textarea,
input {
    font-weight: 400;
}

input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

li {
    list-style: none;
}
