@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-weight: 400;
    min-width: 360px;
}

textarea::placeholder,
input::placeholder {
    color: #ccc;
    font-weight: 400;
}

textarea,
input {
    font-weight: 400;
}

input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

li {
    list-style: none;
}

.ant-btn-primary {
    color: #fff;
    background: #1677ff;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
.ant-switch {
    background: rgba(0, 0, 0, 0.25);
}

.ant-input {
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    border-radius: 6px;
    transition: all 0.2s;
    border-color: #d9d9d9;
}

.ant-input:focus,
.ant-input:focus-within {
    border-color: #1677ff;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    outline: 0;
    background-color: #ffffff;
}
