@charset "utf-8";

@font-face {
    font-family: 'WanderLoch';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/WanderLoch-1.ttf);
    src: url(../fonts/WanderLoch-1.woff) format('woff');
}

@font-face {
    font-family: 'WanderLoch';
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/WanderLoch-4.ttf);
    src: url(../fonts/WanderLoch-4.woff) format('woff');
}
