@charset "utf-8";

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/AppleSDGothicNeoR.ttf);
    src: url(../fonts/AppleSDGothicNeoR.woff) format('woff');
}

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-style: medium;
    font-weight: 400;
    src: url(../fonts/AppleSDGothicNeoM.ttf);
    src: url(../fonts/AppleSDGothicNeoM.woff) format('woff');
}

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/AppleSDGothicNeoB.ttf);
    src: url(../fonts/AppleSDGothicNeoB.woff) format('woff');
}
